body{
  display: grid;
  grid-template-columns: [sidebar-start] 2fr [sidebar-end-page-start] 8fr [page-end] 2fr [last-page];
  grid-template-rows: [topbar-start] auto [topbar-end-content-start] auto [content-end];
  grid-template-areas: "topbar topbar topbar"
                       "sidebar contentpage useless";
}

body header{
  grid-area: topbar;
  display: grid;
  grid-template-columns: [logo-start] 1fr [logo-end-name-start] 1fr [name-end-signup-start] 10fr [signup-end];
  grid-template-rows: [page-start] auto [page-end];
  grid-template-areas: "logo title signup";
}

body header img{
  grid-area:logo;
  align-self: center;
}

body header h1{
  grid-area: title;
  align-self: center;
}

body header div#signup{
  grid-area: signup;
  justify-self:end;
  align-self: center;
}

body header div#signup{ /*  Login     */
  padding: 1em 1.5em 1em 1.5em;
  /* margin-right: 2em; */
  background-color: #034f84;
  border-radius: 25px;
}

/*CONTENT*/

body div#sidebar-clone{
  grid-area: sidebar;
  display: grid;
  grid-template-columns: [page-start] auto [page-end];
  grid-template-rows: [menu-start] auto [menu-end] auto [page-end];
  grid-template-areas: "menu" "menu";
}

body div#sidebar-clone div#iconmenu{
  grid-area: menu;
}

body div#sidebar-clone div#iconmenu ul{
  display:flex;
  flex-direction: column;
  height: 100%;
}

body  div#sidebar-clone div#iconmenu ul li{
  flex-grow: .1;
}

body  div#sidebar-clone div#icon ul li:last-child{
flex-grow: .5;
}

body div#content{
  grid-area:contentpage;
  display:grid;
  grid-template-columns: [artist-start] 5fr [artist-end-songs-start] 8fr [song-end];
  grid-template-rows: [page-start] auto [page-end];
  grid-template-areas: "img songs";
}

body div#coverart{
  grid-area:img;
  display: grid;
  grid-template-columns: [page-start] auto [page-end];
  grid-template-rows: [image-start] auto [image-end-name-start] auto [name-end];
  grid-template-areas: "img"
                       "name";
}

body div#coverart img{
  grid-area: img;
  justify-self: center;
}

body div#coverart div{
  grid-area: name;
  justify-self: center;
  justify-content: center;
}

body div#content ul{
  grid-area:songs;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: end;
}

body div#content ul li{
  flex-grow: .1;
}

body div#content ul li:last-child{
  flex-grow: .2;
}
