body header div#signup a:first-child:hover {
    color: black;
    background-color: #adb3b3;
}

body div#iconmenu>ul li a:hover {
    color: white;
}

body header div#signup a:last-child:hover {
    background-color: blue;
}

body div#iconmenu {
    opacity: 0;
    width: 0%;
    height: 500px;
}

body div#iconmenu-clone:hover>div#iconmenu {
    transition: all 0.5s ease;
    opacity: 1;
    width: 100%;
    background-color: #282828;
    height: 500px;
}
