body{
  display: grid;
  grid-template-columns: [sidebar-start] 2fr [sidebar-end-page-start] 8fr [page-end] 2fr [last-page];
  grid-template-rows: [header-start] auto [header-end-content-start] auto [content-end];
  grid-template-areas: "topbar topbar topbar"
                       "sidebar content useless";
}

body header{
  grid-area:topbar;
  display:grid;
  grid-template-columns: [logo-start] 1fr [logo-end-name-start] 1fr [name-end-signup-start] 10fr [signup-end];
  grid-template-rows: [page-start] auto [page-end];
  grid-template-areas: "logo title signup";
}

body header img{
  grid-area:logo;
  align-self: center;
}

body header h1{
  grid-area: title;
  align-self: center;
}

body div#sidebar-clone{
  grid-area: sidebar;
  display: grid;
  grid-template-columns: [page-start] auto [page-end];
  grid-template-rows: [menu-start] auto [menu-end] auto [page-end];
  grid-template-areas: "menu" "menu";
}

body div#sidebar-clone div#iconmenu{
  grid-area: menu;
}

body div#sidebar-clone div#iconmenu ul{
  display:flex;
  flex-direction: column;
  height: 100%;
}

body  div#sidebar-clone div#iconmenu ul li{
  flex-grow: .1;
}

body  div#sidebar-clone div#icon ul li:last-child{
flex-grow: .5;
}

body header div#signup{
  grid-area: signup;
  justify-self:end;
  align-self: center;
  display: flex;
  flex-flow: row;
}

body header div#signup img{
  flex-grow: 1;
}

body header div#signup a{
  flex-grow: 1;
}

body div#cont{
  grid-area:content;
}
